<html>
 <head>
   <title>Submitted form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <div id="container">
     <div class="pagetitle">
       <h1>Form submitted</h1>
     </div>
     <div id="main">
       <p>Thanks for your submission, {{fname}}!</p>
       <p>Here's a review of the information that you sent:</p>
       <p>
          <strong>First Name</strong>: {{fname}} <br>
          <strong>Last Name</strong>: {{lname}} <br>
          <strong>Email</strong>: {{email}} <br>
          <strong>Reason</strong>: {{reason}}
       </p>
     </div>
   </div>
 </body>
</html>
